.footer-main {
    background: #fff !important;
    border-top: 1px solid #ebebeb;
}

.footer-bottom {
    border-top: 1px solid #ebebeb;
}

.footer-column-headline {
    color: #0e0e0e !important;
}

.footer-service-menu-list {
    padding: 0px;;
}