{% block block_oo_features %}
    {% set element = block.slots.getSlot('element') %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_oo_features_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" %}
        {% endblock %}
    </div>

{% endblock %}