{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
    <div class="custom-cart-wrapper">
        <div class="cart-icon-wrapper">
            <span class="header-cart-icon">
                {% sw_icon 'bag' %}
            </span>
            {% if page.cart.lineItems|length > 0 %}
                <span class="badge bg-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
            {% endif %}
        </div>

        <div class="cart-text-wrapper">
            <span class="cart-text-line">Dein Warenkorb</span>
            <span class="cart-text-line cart-text-line-left">Noch {{ page.cart.lineItems|length }} Artikel</span>
        </div>
    </div>
{% endblock %}
